<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <title> @ViewBag.Title </title>
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="shortcut icon" href="~/img/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/img/favicon/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">
         Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
    <link rel="apple-touch-icon" href="~/img/splash/sptouch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/img/splash/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/img/splash/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/img/splash/touch-icon-ipad-retina.png">
    <link href="~/js/plugin/datetimepicker-master/build/jquery.datetimepicker.min.css" rel="stylesheet" />
    <link href="~/css/layout.css" rel="stylesheet" />
   
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="apple-touch-startup-image" href="~/img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
    <link rel="apple-touch-startup-image" href="~/img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
    <link rel="apple-touch-startup-image" href="~/img/splash/iphone.png" media="screen and (max-device-width: 320px)">

</head>

<body class="smart-style-1 menu-on-top">

    <div id="MyModalClean" class="modal fade" role="dialog" data-backdrop='static' data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-body" id="MyModalBodyClean">
                <p>Some text in the modal.</p>
            </div>
        </div>
    </div>
    <div id="MyModalCleanLG" class="modal fade" role="dialog" data-backdrop='static' data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-body" id="MyModalBodyCleanLG">
                <p>Some text in the modal.</p>
            </div>
        </div>
    </div>

    <div id="MyModal" class="modal fade" role="dialog" data-backdrop='static' data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"> <big>&times;</big></button>
                    <h4 class="modal-title" id="MyModalTitle">Modal Header</h4>
                </div>
                <div class="modal-body" id="MyModalBody">
                    <p>Some text in the modal.</p>
                </div>
            </div>

        </div>
    </div>

    <header id="header">
        <div id="logo-group">
            <span id="logo" class="text-center fa-2x" style="color:white; margin-top:0;"><big><b><i class="fa fa-check-square-o" style="color:greenyellow;"></i>Consola</b></big> </span>
        </div>

        <div id="LanguageLayout" class="pull-right">

            <div id="hide-menu" class="btn-header pull-right">
                <span> <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
            </div>

            <ul id="mobile-profile-img" class="header-dropdown-list hidden-xs padding-5">
                <li class="">
                    <a href="#" class="dropdown-toggle no-margin userdropdown" data-toggle="dropdown">
                        <img src="~/img/avatars/sunny.png" alt="John Doe" class="online" />
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li>
                            <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0"><i class="fa fa-cog"></i> Configuracion</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0" data-action="toggleShortcut"><i class="fa fa-arrow-down"></i> Atajo</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0" data-action="launchFullscreen"><i class="fa fa-arrows-alt"></i> Pantalla Completa</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="@Url.Action("LogOff", "Account")" class="padding-10 padding-top-5 padding-bottom-5" data-action="userLogout"><i class="fa fa-sign-out fa-lg"></i> <strong><u>C</u>errar Sesion</strong></a>
                        </li>
                    </ul>
                </li>
            </ul>

            <div id="logout" class="btn-header transparent pull-right">
                <span> <a href="@Url.Action("LogOff", "Account")" title="Sign Out" data-action="userLogout" data-logout-msg="Esta seguro que desea Cerrar Sesion?"><i class="fa fa-sign-out"></i></a> </span>
            </div>
            <div id="fullscreen" class="btn-header transparent pull-right">
                <span> <a href="javascript:void(0);" data-action="launchFullscreen" title="Full Screen"><i class="fa fa-arrows-alt"></i></a> </span>
            </div>

        </div>

    </header>
    <aside id="left-panel">
        <div class="login-info">
            <span>
                <a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
                    <img src="~/img/avatars/sunny.png" alt="me" class="online" />
                    <span>
                        @User.Identity.Name
                    </span>
                    <i class="fa fa-angle-down"></i>
                </a>
            </span>
        </div>

        <nav>
            <ul>
                <li class="">
                    <a href="@Url.Action("Index","Home")" title="blank_"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">  Inicio</span></a>
                </li>
                @if (User.IsInRole("Administrador"))
                {
                    <li>
                        <a href="#" title="Gestion de Usuarios"><i class="fa fa-fw fa-user"></i><span class="">  Gestion Usuarios</span></a>
                        <ul>
                            <li class="">
                                <a href="@Url.Action("Index","Usuario")" title="Usuario"><span class="menu-item-parent"> Usuarios</span></a>
                            </li>
                            <li class="">
                                <a href="@Url.Action("Index","Role")" title="Usuario"><span class="menu-item-parent"> Roles</span></a>
                            </li>

                        </ul>
                    </li>

                    <li>
                        <a href="#" title="Mantenimiento"><i class="fa fa-fw fa-cog"></i><span class="">  Mantenimiento</span></a>
                        <ul>
                            <li class="">
                                <a href="@Url.Action("Index","Areas")" title="Usuario"><span class="menu-item-parent"> Areas</span></a>
                            </li>
                            <li class="">
                                <a href="@Url.Action("Index","Centros")" title="Usuario"><span class="menu-item-parent"> Centros</span></a>
                            </li>
                            <li class="">
                                <a href="@Url.Action("Index","Cursos")" title="Usuario"><span class="menu-item-parent"> Cursos</span></a>
                            </li>
                            <li class="">
                                <a href="@Url.Action("Index","Modulos")" title="Usuario"><span class="menu-item-parent"> Modulos</span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" title="Matricula"><i class="fa fa-fw fa-clipboard"></i><span class="">  Matricula</span></a>
                        <ul>
                            <li class="">
                                <a href="@Url.Action("Index","Matricula")" title="Usuario"><span class=""> Listar Matricula</span></a>
                            </li>
                            <li class="">
                                <a href="@Url.Action("Create","Matricula")" title="Usuario"><span class=""> Crear Matricula</span></a>
                            </li>

                        </ul>
                    </li>
                }          

            </ul>    
        </nav>

        <span class="minifyme" data-action="minifyMenu"> <i class="fa fa-arrow-circle-left hit"></i> </span>

    </aside>
    <div id="main" role="main">
        <div style="padding:100px; padding-top:20px;">
            @RenderBody()

        </div>
    </div>
    <div id="shortcut">
        <ul>
            <li>
                <a href="#" class="jarvismetro-tile big-cubes bg-color-blue text-center" onclick="ShowChangePasswordUserLogged()"> <span class="iconbox"> <i class="fa fa-asterisk fa-4x"></i> <span>Camb Contrasena</span> </span> </a>
            </li>
        </ul>
    </div>
    <div class="modal" id="modalWaitingTime" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="">
        <div class="modal-dialog" role="document" style="margin-top: 15%;">
            <div class="modal-body text-center">
                <center><span id="logo" class="text-center fa-2x" style="color:white; margin-top:0;"><big><b><i class="fa fa-check-square-o" style="color:white;"></i>SPA</b></big> </span></center>
               <p style="color: #fff;">Cargando...</p>
                
            </div>
        </div>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/smartadmin")
    @Scripts.Render("~/bundles/personalized")
    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(function () {
        });
    </script>
</body>
</html>